# Python stuff
venv/
.venv/

*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Flask Server instance directory
instance/

# IntelliJ IDE
.idea/

# Produced plots
*.png

# R Studio Project files
.Rproj.user
