<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Standard CSS style -->
    <link rel="stylesheet" href="static/style.css">

    <!--Import these scripts in this order until transition to modules is complete-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Python-like functions -->
    <script src="static/builtins.js"></script>

    <!--&lt;!&ndash; Numpy-like functions&ndash;&gt;-->
    <!--<script src="static/np.js"></script>-->

    <!--&lt;!&ndash; Matplotlib-like functions &ndash;&gt;-->
    <!--<script src="static/myplotlib.js"></script>-->

</head>
<body>
    <p>Most recent logs are at the bottom of the page. Reload to see updates.</p>
    <button id="clear_log_button" onclick="ask_confirm()">Clear log</button>
    <code class="code">
        {{ log_text }}
    </code>
    <p>Most recent logs are at the bottom of the page. Reload to see updates.</p>
    <button id="clear_log_button2" onclick="ask_confirm()">Clear log</button>
<script>
    $(document).ready(function () {

        // Set the logging level
        logging.level = logging.DEBUG;
        print("Logging initialised. Log level =", logging.get_current_level());

        // Sets useful error messages for AJAX errors
        $(document).ajaxError(function (event, jqXHR, settings, thrownError) {
            raise(
                "Ajax Error: " + String(thrownError) + "\n" +
                "- Response error: " + String(jqXHR.responseText) + "\n" +
                "- Full response: " + String(jqXHR.getAllResponseHeaders())
            );
        });

        let height = 1000;
        try {
            // https://stackoverflow.com/questions/1145850/how-to-get-height-of-entire-document-with-javascript
            height = Math.max( body.scrollHeight, body.offsetHeight,
                       html.clientHeight, html.scrollHeight, html.offsetHeight );
        }
        catch (e) {
            if  (e instanceof ReferenceError) {
                logging.warning(e);
            }
        }
        
        window.scrollTo(0, height + 1000);
    });


    function ask_confirm() {
        if (confirm("Are you sure to delete the log?")) {
            $.ajax({
                type: "GET",
                url: "{{ url_for('view_log') }}",
                data: {clear: "True"},
                success: function (result) {
                    logging.info("Ajax request sent successfully!");
                },
                global: true
            });
            location.replace("{{ url_for('view_log') }}");
        }
    }
</script>

</body>
</html>