<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test the drawing library</title>
    <!-- Python-like functions -->
    <script src="static/builtins.js"></script>
    <!-- Matplotlib-like functions -->
<!--    <script type="module" src="static/myplotlib.js"></script>-->
    <style>
        .border-blue-canvas {
            width: 400px;
            height: 300px;
            border-style: solid;
            border-color: blue;;
        }
    </style>
</head>


<body>

<h1> Tests the drawing library </h1>

<p>This canvas 1</p>
<canvas id="canvas_1" class="border-blue-canvas"></canvas>

<p>This is canvas 2</p>
<canvas id="canvas_2" class="border-blue-canvas"></canvas>

</body>


<script type="module">
    import {plt} from "../static/drawing.js";

    let x_list = [0,1,2,3,4,5];
    let y_list = [2,4,6,8,16, 32];

    let canvas_1 = document.getElementById("canvas_1");
    console.log(canvas_1);
    plt.open_canvas(canvas_1);
    plt.scatter(x_list, y_list);
    plt.show();
    plt.close();

    let canvas_2 = document.getElementById("canvas_2");
    console.log(canvas_2);
    plt.open_canvas(canvas_2);

    let limit_square = plt.get_best_box_lists([x_list], [y_list], 0.0, 0.0);


    plt.scatter(x_list, y_list);
    plt.show();
    plt.close();


</script>


</html>