@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* Font settings */
h1, h2, h3, h4, h5, h6, p, label, button, a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 2em;
}

/** IDs **/

#cursor_line_left {
    left: 0;
}

#max_indicator_arrow {
    padding: 0;
    margin: 0;
}

#max_indicator_container {
    horiz-align: center;
    height: 25px;
    width: 17px;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
}

#max_indicator_text {
    /*text-align: center;*/
    font-size: 8px;
    padding: 0;
    margin: 0;
    border: 0;
}

#plot {
    border-width: 0;
    margin: 0;
    padding: 0;
    height: 400px;
    background-color: white;
}

#question_field {
    text-align: center;
}

#start_button {
    font-size: medium;
}

#text_title {
    font-size: 2.5em;
    text-align: center;
    color: #282828;
}


/** Classes **/

.bottom_text{
    margin-right: 1em;
    font-size: 70%;
}

.canvas_div {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin: 0;
    padding: 0;
    background-color: red;
    height: auto;
    /*display: table; !* The property "display: table" makes the div wrap tightly its content *!*/
    /*position: relative;*/
}

.code {
    font-family: "Bitstream Vera Sans Mono", "Ubuntu Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 10px;
    line-height: 1;
    white-space: pre-line; /* displays carriage returns and allows line wrap */
}

.custom_button {
    background-color: #3364b9;

    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    padding: 0.8em 1.6em;
    margin: 0;
    border: none;
}

.custom_button:hover {
    background-color: #122549;
}

.div_canvas_elements_container{
    align-self: stretch;
}

.div_flexible_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_msg {
    /*font-weight: bold;*/
    /*color: #510000;*/
    background-color: lightpink;
    /*text-shadow: 1px 1px 5px red;*/
}

.hidden {
    display: none;
}

.inline_text{
    display: inline;
}

/* Line cursor settings */
.line_cursor {
    background-color: red;
    z-index: 2;  /* Elevate it to draw over surfaces */
    width: 3px;
    height: 3px;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0.6;
}

.modal_buttons_container {
    text-align: right;
    padding-top: 0.7em;

}

.modal_content_container {
    background-color: white;
    border: 5px solid #3364b9;
    box-shadow: 0 0 10px -5px #1d1d1d;

    margin: 15% auto; /* 15% from the top and centered */
    padding: 1em;

    width: 50%; /* Could be more or less, depending on screen size */

    /* Is a flexbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal_content {
    width: 100%;
    /* Is a flexbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.modal_dialogue {
    /* From W3School */
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px) contrast(0.8);
    -webkit-backdrop-filter: blur(5px) contrast(0.8);
}

.modal_input[type=text] {
    font-size: large;
    font-family: monospace;
}

.modal_text {
    white-space: pre-wrap;
}

.question_message {
    font-size: x-large;
}

.top_text{
    margin-right: 1em;
    margin-left: 0.2em;
}

.triangle_down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid red;
}

.score {
    font-family: 'Press Start 2P', "Bitstream Vera Sans Mono", "Ubuntu Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 80%;
}

.session_score_value {
    color: blue;
    font-weight: bold;
    font-size: 110%
}

.current_score_value {
    color: red;
    font-weight: bold;
    font-size: 110%
}